<div class="container">
	<div class="row" style="margin-top: 3%;">
		<div class="col-md-6">
			<span style="text-align: left;"><h2> {{ 'Reserva' | translate }} #{{reservation.id}}</h2></span>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-6" style="margin-top: 5%;">
			<span style="text-align: left;"> <h5>{{ 'Cliente' | translate }}: {{reservation.client.name}} {{reservation.client.surname}}</h5></span><br>
			<span> {{ 'Desde' | translate }}: {{reservation.fromDate}} </span><br>
			<span> {{ 'Hasta' | translate }}: {{reservation.toDate}}</span><br>
			<span> {{ 'Dueño' | translate }}: {{reservation.publication.owner.name}} {{reservation.publication.owner.surname}}</span><br>
			<span> {{ 'Telefono' | translate }}: {{reservation.publication.telephone}}</span><br>
			<span> {{ 'Modelo' | translate }}: {{reservation.publication.vehicle.model}}</span><br>
			<span> {{ 'Capacidad de pasajeros' | translate }}: {{reservation.publication.vehicle.numberOfPassengers}}</span><br>
			<span> {{ 'Estado' | translate }}: {{reservation.state.name}}</span><br>
		</div>
		<div class="col-md-6" style="margin-top: 5%;">
			<img [src]="reservation.publication.vehicle.photo" style="max-width: 80%;max-height: 80%;"/>
		</div>
	</div>
	<hr>
	<span style="text-align: left;"> <h5>{{'Seguimiento del alquiler' | translate}}</h5></span><br>

	<div class="col-md-12">
		<div class="progress" style="height: 95px,">
		  <div class="progress-bar  bg-info" role="progressbar" [ngStyle]="progressStyle" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		</div>		
		<br>
		<div class="alert alert-primary" role="alert">
		{{getStateInfo()}}
		</div>
		
		<div *ngIf="!isReservationMakedByLoguedUser()">	
		<button *ngIf="canConfirmRetireByClient()" type="button" class="btn btn-outline-info" (click)="confirmRetireByClient()" >{{ 'Confirmar retiro' | translate}}</button>
			<button *ngIf="canConfirmReturnByClient()" type="button" class="btn btn-outline-info" (click)="confirmReturnByClient()">{{ 'Confirmar retorno' | translate}}</button>
		</div>
		
		<div *ngIf="isReservationMakedByLoguedUser()">
			<button *ngIf="canConfirmReservationByOwner()" type="button" class="btn btn-outline-info" (click)="confirmReservationByOwner()">{{ 'Confirmar reserva' | translate}}</button>
			<button *ngIf="canConfirmRetireByOwner()" type="button" class="btn btn-outline-info" (click)="confirmRetireByOwner()" >{{ 'Confirmar retiro' | translate}}</button>
			<button *ngIf="canConfirmReturnByOwner()" type="button" class="btn btn-outline-info" (click)="confirmReturnByOwner()">{{ 'Confirmar retorno' | translate}}</button>
		</div>
	</div>
	<div class="col-md-12" style="margin-bottom: 10%;"></div>


</div>