<div class="container">
	<div class="row" style="margin-top: 5%;">
		<h2 translate>Hacer reserva</h2>
	</div>
	<div class="row">
		<div class="col-md-6">
			<span trnaslate>Seleccione la fecha en la que quisiera retirar el vehiculo</span>
				<my-date-picker name="mydate" [options]="myDatePickerOptions"
				[(ngModel)]="datepickerFromDate" required></my-date-picker>
		</div>
		<div class="col-md-6">
			<span translate>Seleccione la fecha en la que quisiera devolver el vehiculo</span>
				<my-date-picker name="mydate" [options]="myDatePickerOptions"
				[(ngModel)]="datepickerToDate" required></my-date-picker>
		</div>
	</div>
	<div class="row">
		<button class="btn btn-success" (click)="reserve()"> {{ 'Reservar' | translate }}</button>
	</div>
</div>
 
