<div>
  <h3 class="title">Usuarios</h3>
</div>
<div class="user-table">
  <table class="table">
    <thead>
      <th>ID</th>
      <th>CUIL</th>
      <th>NOMBRE</th>
      <th>APELLIDO</th>
      <th>DIRECCION</th>
      <th>EMAIL</th>
    </thead>
    <tbody *ngIf="users">
      <tr *ngFor="let user of users">
        <td> {{user.id}} </td>
        <td> {{user.cuil}} </td>
        <td> {{user.name}} </td>
        <td> {{user.surname}} </td>
        <td> {{user.address}} </td>
        <td> {{user.email}} </td>
        <td> <a class="btn btn-success" (click)="editUser(user)" >Editar</a> </td>
      </tr>    
    </tbody>
  </table>
</div>





