<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Web Client Application</display-name>
	<description>Web Client Application</description>

	<context-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>
    		/WEB-INF/applicationContext*.xml
    		classpath*:/META-INF/spring-services-context.xml
    		classpath*:/META-INF/spring-persistence-context.xml
    		classpath*:/META-INF/aspects-context.xml
    	</param-value>
	</context-param>
	
	<listener>
   		 <listener-class>
   	 		  org.springframework.web.context.ContextLoaderListener
   			 </listener-class>
  	</listener>


	<servlet>
		<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	


	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>SecurityFilter</filter-name>
		<filter-class>security.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SecurityFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

</web-app>
