<div class="container">
  <div class="card">
  <h1 translate>Editar Vehiculo</h1>
  
  <form [formGroup]="vehicle">

    <div class="form-group">
      <label for="model"> {{ 'Modelo' | translate }} </label>
      <input type="text" class="form-control" id="model" formControlName="model" required >
      <div *ngIf="vehicle.get('model').errors && vehicle.get('model').dirty">
          <p *ngIf="vehicle.get('model').hasError('required')" style="white-space: normal; color:red"> {{ 'El modelo es requerido.' | translate }} </p>
      </div>
    </div>

    <div class="form-group">
      <label for="type"> {{ 'Tipo de vehiculo' | translate }} </label>
      <select class="form-control" id="type" formControlName="type" required >
        <option *ngFor="let t of types" [value]="t">{{t}}</option>
      </select>
      <div *ngIf="vehicle.get('type').errors && vehicle.get('type').dirty">
          <p *ngIf="vehicle.get('type').hasError('required')" style="white-space: normal; color:red"> {{ 'El tipo de vehiculo es requerido.' | translate }} </p>
      </div>
    </div>

    <div class="form-group">
      <label for="numberOfPassengers">{{ 'Capacidad de pasajeros' | translate }} </label>
      <input type="number" min="0" max=50 class="form-control" id="numberOfPassengers" formControlName="numberOfPassengers" required >
      <div *ngIf="vehicle.get('numberOfPassengers').errors && vehicle.get('numberOfPassengers').dirty">
          <p *ngIf="vehicle.get('numberOfPassengers').hasError('required')" style="white-space: normal; color:red"> {{ 'La capacidad de pasajeros es requerida.' | translate }} </p>
      </div>
    </div>

    <div class="form-group">
      <label for="description"> {{ 'Descripcion' | translate }} </label>
      <input type="text" class="form-control" id="description" formControlName="description" required >
      <div *ngIf="vehicle.get('description').errors && vehicle.get('description').dirty">
          <p *ngIf="vehicle.get('description').hasError('required')" style="white-space: normal; color:red"> {{ 'La descripcion es requerida.' | translate }} </p>
          <p *ngIf="vehicle.get('description').hasError('maxlength')" style="white-space: normal; color:red"> {{ 'El maximo de caracteres permitidos es 200.' | translate }} </p>
          <p *ngIf="vehicle.get('description').hasError('minlength')" style="white-space: normal; color:red"> {{ 'El minimo de caracteres permitidos es 30.' | translate }} </p>
        </div> 
    </div>

    <div class="form-group">
      <label for="photo"> {{ 'URL foto' | translate }} </label>
      <input type="textarea" class="form-control" id="photo" formControlName="photo" required >
      <div *ngIf="vehicle.get('photo').errors && vehicle.get('photo').dirty">
          <p *ngIf="vehicle.get('photo').hasError('required')" style="white-space: normal; color:red"> {{ 'La imagen es requerida.' | translate }} </p>
      </div>
    </div>

  <div class="row">
  <div class="col-md-6">
      <button type="button" class="btn btn-danger" (click)="cancel()"> {{ 'Cancelar' | translate }} </button>
  </div>
  <div class="col-md-6"> 
      <button type="submit" class="btn btn-success" [disabled]="!vehicle.valid" (click)="updateVehicle()"> {{ 'Guardar' | translate }} </button>
  </div>
  </div>
</form>
</div>
</div>
