<div class="container">
  <div class="row" style="margin-top: 3%;">
    <h1 translate> Nueva Publicacion </h1>    
  </div>

  <div>
    <form [formGroup]="publication">

      <div class="form-group">
        <label for="vehicle"> {{ 'Vehiculo' | translate }} </label>
        <select class="form-control" id="vehicle" formControlName="vehicle" required>
          <option *ngFor="let v of vehicles" [ngValue]="v">{{v.model}}</option>
        </select>
        <div *ngIf="publication.get('vehicle').errors && publication.get('vehicle').dirty">
            <p *ngIf="publication.get('vehicle').hasError('required')" style="white-space: normal; color:red"> {{ 'El vehiculo es requerido.' | translate }} </p>
        </div>
      </div>

      <div class="form-group">
        <label for="costPerHour"> {{ 'Costo por hora' | translate }} </label>
        <input type="number"  min="50" class="form-control" id="costPerHour" formControlName="costPerHour" required >
        <div *ngIf="publication.get('costPerHour').errors && publication.get('costPerHour').dirty">
            <p *ngIf="publication.get('costPerHour').hasError('required')" style="white-space: normal; color:red"> {{ 'El costo por hora es requerido.' | translate }} </p>
        </div>
      </div>

      <div class="form-group">
        <label for="retireAddress"> {{ 'Direccion de retiro' | translate }} </label>
        <input type="text" class="form-control" id="retireAddress" formControlName="retireAddress" placeholder="{{ 'Calle N°, Ciudad, Provincia/Estado' | translate }}" required >
        <div *ngIf="publication.get('retireAddress').errors && publication.get('retireAddress').dirty">
            <p *ngIf="publication.get('retireAddress').hasError('required')" style="white-space: normal; color:red"> {{ 'La direccion de retiro es requerida.' | translate }} </p>
        </div>
      </div>

      <div class="form-group">
        <label for="returnAddress"> {{ 'Direccion de devolucion' | translate }} </label>
        <input type="text" class="form-control" id="returnAddress" formControlName="returnAddress" placeholder="{{ 'Calle N°, Ciudad, Provincia/Estado' | translate }}" required >
        <div *ngIf="publication.get('returnAddress').errors && publication.get('returnAddress').dirty">
            <p *ngIf="publication.get('returnAddress').hasError('required')" style="white-space: normal; color:red"> {{ 'La direccion de devolucion es requerida.' | translate }} </p>
            </div> 
      </div>

      <div class="form-group">
        <label for="telephone"> {{ 'Telefono' | translate }} </label>
        <input type="text" class="form-control" id="telephone" formControlName="telephone" required >
        <div *ngIf="publication.get('telephone').errors && publication.get('telephone').dirty">
            <p *ngIf="publication.get('telephone').hasError('required')" style="white-space: normal; color:red"> {{ 'El telefono es requerido.' | translate }} </p>
            <p *ngIf="publication.get('telephone').hasError('maxlength')" style="white-space: normal; color:red"> {{ 'El maximo de caracteres permitidos es 13.' | translate }} </p>
            <p *ngIf="publication.get('telephone').hasError('minlength')" style="white-space: normal; color:red"> {{ 'El minimo de caracteres permitidos es 6.' | translate }} </p>
          </div> 
      </div>
      
      <div class="row">
        <div class="col-md-12" style="text-align: center;"> 
            <button type="submit" class="btn btn-success" [disabled]="!publication.valid" (click)="newPublication()"> {{ 'Publicar' | translate }} </button>
        </div>
      </div>
    </form> 
</div>
