<div>
  <h3 translate class="title">Publicaciones</h3>
</div>
<ul class="list-inline" >
  <div class="row">
    <div class="col-md-10">
      <input #box (keyup.enter)="setSearchTerm($event,box.value)" class="form-control">
    </div>
    <div class="col-md-2">
      <button class="btn btn-info" (click)="search()"> {{ 'Buscar' | translate }} </button>
    </div>
  </div>
  <br>
  <div class="row">
    <li class="list-group-item" *ngFor="let publication of publications">
      <div class="card">
	       <img class="card-img-top" src="{{publication.vehicle.photo}}" alt="Card image cap" height="150px" width="250px">
            <div class="card-body">
              <p class="card-text"><small class="text-muted">{{publication.owner.name}} {{publication.owner.surname}}</small></p>
              <h4 class="card-title">${{publication.costPerHour}} {{ 'por hora' | translate }} </h4>
              <p class="card-text"> {{publication.vehicle.description}}</p>
              <p class="card-text"><small class="text-muted">{{publication.retireAddress}}</small></p>
            </div>
          <div class="row">
            <div class="col-md-6">
              <a class="btn btn-danger" (click)="deletePublication(publication.id)" > {{ 'Eliminar' | translate }} </a>
            </div>
            <div class="col-md-6">
              <a class="btn btn-success" (click)="editPublication(publication)" > {{ 'Editar' | translate }} </a>
            </div>
          </div>
      </div>
    </li>
  </div>
</ul>