<div class="container">
  <div class="row" style="margin-top: 3%;">
    <h3 translate class="title">Publicaciones</h3>
  </div>
  <div class="row" style="margin-top: 3%;">
    <div class="input-group col-md-10">
      <input type="text" #box (keyup.enter)="setSearchTerm($event,box.value)" class="form-control">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Button</button>
      </div>
    </div>
  </div>
  <br>
    <!--<li class="list-group-item" *ngFor="let publication of publications" style="width: 35%;height:35%">-->
  <hr class="col-md-12">
  <div class="row" *ngFor="let publication of publications" style="margin-top: 10px;">
    <div class="col-md-3">
      <img class="card-img-top" src="{{publication.vehicle.photo}}"/>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
            <div class="card-body">
              <p class="card-text"><small class="text-muted">{{publication.owner.name}} {{publication.owner.surname}}</small></p>
              <h4 class="card-title">${{publication.costPerHour}} {{ 'por hora' | translate }} </h4>
              <p class="card-text"> {{publication.vehicle.description}}</p>
              <p class="card-text"><small class="text-muted">{{publication.retireAddress}}</small></p>
            </div>            
        </div>
        <div class="col-md-6">
            <a class="btn btn-outline-secondary" style="margin-top: 18%;" (click)="publicationDetail(publication)" > {{ 'Ver' | translate }} </a>
        </div>
      </div>
    </div>
    <hr class="col-md-12">
  </div>
      <!-- <div class="card" *ngFor="let publication of publications" style="width: 50%;height: 50%;"> 
          <img class="card-img-top" src="{{publication.vehicle.photo}}"/>
          <div class="card-body">
            <p class="card-text"><small class="text-muted">{{publication.owner.name}} {{publication.owner.surname}}</small></p>
            <h4 class="card-title">${{publication.costPerHour}} {{ 'por hora' | translate }} </h4>
            <p class="card-text"> {{publication.vehicle.description}}</p>
            <p class="card-text"><small class="text-muted">{{publication.retireAddress}}</small></p>
          </div>
          <div class="row">
            <div class="col-md-6">
              <a class="btn btn-danger" (click)="deletePublication(publication.id)" > {{ 'Eliminar' | translate }} </a>
            </div>
            <div class="col-md-6">
              <a class="btn btn-success" (click)="publicationDetail(publication)" > {{ 'Ver' | translate }} </a>
            </div>
          </div>
      </div>-->
    <!--</li>-->
  </div>
